.custom-text-field-with-label-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;

  .asterisks {
    color: red;
    padding-left: 4px;
  }
  .label {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    margin-bottom: 0.5rem;
  }

  .text-field {
    border: 2px solid #efefef;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #717171;
    border-radius: 10px;
  }

  .error {
    border: 2px solid red;
  }

  .error-message {
    color: red;
    padding-top: 4px;
    padding-left: 8px;
  }
}
